{% extends 'index.j2' %}

{% block content %}
    {# Table with body type modifiers #}
    <table style="display: none">
        <tr>
            <td>BODY TYPE</td>
            <td>PTS_FROM</td>
            <td>PTS_TO</td>
            <td>MODIFIER</td>
        </tr>
        {% for body_type in body_types %}
        <tr class="body_types">
            <td class="bodytype_name">{{ body_type['body_type'] }}</td>
            <td class="bodytype_ptsfrom">{{ body_type['pts_from'] }}</td>
            <td class="bodytype_ptsto">{{ body_type['pts_to'] }}</td>
            <td class="bodytype_modifier">{{ body_type['modifier'] }}</td>
        </tr>
        {% endfor %}
    </table>

    {# Main Goon character sheet #}
    <table style="border-collapse: collapse; width: 100%">
        <tr>
            <td colspan="12"><input type="text" style='width: 100%' placeholder="Handle"></td>
            <td colspan="12"><input type="text" style='width: 100%' placeholder="Role"></td>
        </tr>
        <tr>
            <td colspan="4" style="vertical-align: top">
                <table style="font-size: 12px">
                <tr>
                    <td colspan="2" style="text-decoration: underline">STATS</td>
                </tr>
                {% for stat in stats %}
                <tr>
                    <td>{{ stat['stat'] }}</td>
                    <td id="{{ stat['stat'] }}_value">[<input id="{{ stat['stat'] }}" type="number" 
                        style="border: none; text-align: center; height: 12px; width: 2ch" 
                        onClick="this.select();" onchange="updateCompStats()">]</td>
                </tr>
                {% endfor %}
                </table>
            </td>
            <td colspan="16" style="vertical-align: top">
                <table style="font-size: 12px">
                    <tr>
                        <td colspan="2" style="text-decoration: underline">SKILLS</td>
                    </tr>
                    <tr>
                        <td>Education & General Knowledge</td>
                        <td>[99]</td>
                    </tr>
                    <tr>
                        <td>Other skill name</td>
                        <td>[6]</td>
                    </tr>
                </table>
            </td>
            <td colspan="20" style="vertical-align: top">
                <table style="font-size: 12px; width: 100%">
                    <tr>
                        <td style="text-decoration: underline">WEAPONS</td>
                        <td style="text-align: center">type</td>
                        <td style="text-align: center">skl</td>
                        <td style="text-align: center">dmg</td>
                        <td style="text-align: center">#/rof</td>
                        <td style="text-align: center">rly</td>
                    </tr>
                    <tr style="text-align: center">
                        <td style="text-align: left">Some name of weapon</td>
                        <td>T</td>
                        <td>99</td>
                        <td>2d6+99</td>
                        <td>99/99</td>
                        <td>R</td>
                    </tr>
                </table>
                <table style="font-size: 12px; width: 100%">
                    <tr>
                        <td style="text-decoration: underline">CYBERWARE</td>
                    </tr>
                    <tr>
                        <td>Some name of cyberware</td>
                        <td style="text-align: center">T</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="20">
                <table style="font-size: 12px; width: 100%">
                    <tr>
                        <td colspan="6" style="text-decoration: underline">COMPUTED STATS</td>
                    </tr>
                    {% for row in comp_stats %}
                    <tr>
                        {% for col in row %}
                            {% if col != None %}
                                <td>{{ col['stat'] }}</td>
                                <td id="{{ col['stat'] }}_{{ col['type'] }}_{{ col['multiplier'] }}_value" class="comp_stat">[0]</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td colspan="20" style="vertical-align: top">
                <table style="font-size: 12px; width: 100%">
                    <tr>
                        <td colspan="6"><span style="text-decoration: underline">ARMOR</span>: names of armor pieces</td>
                    </tr>
                    <tr style="text-align: center">
                        {% for body_part in body_parts %}
                        <td>{{ body_part['body_part'] }}</td>
                        {% endfor %}
                    </tr>
                    <tr style="text-align: center">
                        {% for body_part in body_parts %}
                        <td>
                            {% if body_part['d_from'] != body_part['d_to'] %}
                                {{ body_part['d_from'] }}-{{ body_part['d_to'] }}
                            {% else %}
                                {{ body_part['d_from'] }}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    <tr style="text-align: center">
                        {% for body_part in body_parts %}
                        <td>[99]</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            {% for wound in wounds %}
            <td colspan="4" id="wound_{{ wound['stun_save_mod'] }}" class="wound_type">{{ wound['abr'] }} {{ wound['stun_save_mod'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for wound in wounds %}
            <td id="wound_{{ wound['stun_save_mod'] }}_1" class="wound_hitbox" onclick="updateHitbox(this.id)"></td>
            <td id="wound_{{ wound['stun_save_mod'] }}_2" class="wound_hitbox" onclick="updateHitbox(this.id)"></td>
            <td id="wound_{{ wound['stun_save_mod'] }}_3" class="wound_hitbox" onclick="updateHitbox(this.id)"></td>
            <td id="wound_{{ wound['stun_save_mod'] }}_4" class="wound_hitbox" onclick="updateHitbox(this.id)"></td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}