<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Narzędzia dla Cyberpunk 2020" />
	<meta name="Keywords" content="sgh, harmonogram, zajęć, kalendarz" />
	<meta http-equiv="Content-Language" content="pl" />
	<meta name="Author" content="Artur Żółkoś" />
	<meta http-equiv="Creation-Date" content="Wed, 3 Jun 2020 12:35:19 GMT" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->

	<!-- External CSS -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<title>Kalendarz SGH</title>
</head>
<body class="w3-theme-l4">

	<!-- HEADER -->
	<div class="w3-bar w3-large w3-red">
		<span class="w3-bar-item">No elo</span>
	</div>

</body>

</html>