<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Description" content="Tools for Cyberpunk 2020" />
    <meta name="Keywords" content="cyberpunk, tools, rpg" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="Author" content="Artur Żółkoś" />
    <meta http-equiv="Creation-Date" content="Wed, 3 Jun 2020 12:35:19 GMT" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- External CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Scripts -->
    <script src="{% static 'main.js' %}"></script>

    <title>Cyberpuk Tools</title>
</head>
<body class="w3-white" style="font-family: 'Anonymous Pro', monospace;">

    <!-- NAVBAR -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <span class="w3-bar-item">Tinfoilpunk</span>
            <a class="w3-bar-item w3-button w3-hover-red" href="/">Home</a>
            <a class="w3-bar-item w3-button w3-hover-red" href="/npcgenerator">NPC Generator</a>
            {% if user.is_authenticated %}
                <a class="w3-bar-item w3-right" href="{% url 'logout' %}">logout</a>
                <span class="w3-bar-item w3-right">{{ user.username }}</span>
            {% else %}
                <a class="w3-bar-item w3-right" href="{% url 'login' %}">login</a>
            {% endif %}
        </div>
    </div>

    <!-- CONTENT -->
    <div class="w3-content" style="max-width:2000px;margin-top:38px">
        {% block content %}{% endblock %}
    </div>

</body>

</html>