{% extends 'index.j2' %}

{% block content %}
    <table class="w3-left">
        <tr>
            <td colspan="2">First col</td>
        </tr>
        <tr>
            <td colspan="2">STATS</td>
        </tr>
        {% for stat in stats %}
        <tr>
            <td>{{ stat["id"] }}</td>
            <td>[    ]</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}